:root {
    --main-green: #20603C;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 2.5rem;
    background-color: #FFFDF6;
    color: rgb(49, 49, 49);
    padding: 0 3rem;
    margin: 3rem;
}

.text-area {
    max-width: 40vw;
    min-width: 10vw;
    margin: 0 auto 0 auto;
}

.text-container {
    width: 100%;
    line-height: 1.5rem;
    padding-top: .8rem;
}

#header-logo {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}

#logo-container {
    padding-left: 1.75rem;
}

header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.line-under-top-heading {
    width: 4rem;
}

nav {
    font-size: 0.85rem;
}

nav a {
    margin: .7rem;
    margin-bottom: 4px;
}

nav a:hover {
    border-bottom: 1px solid black;
    color: #20603C;
}

.splitter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 3rem;
    background-color: black
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}


h1 {
    font-weight: 900;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 600;
    padding: 0 0 25 0;
    margin: 0.8rem 0;
}

h3 {
    font-weight: 400;
}

b {
    font-weight: 600;
}

#site-description {
    padding: 0;
    margin-top: 2.3rem;
}

#header-img {
    max-height: 10rem;
    max-width: 10rem;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding-top: 3rem;
}


/* Home Page */
#home-heading {
    margin: 0 3rem 0 3rem;
    text-align: center;
    
}

.text-area a {
    text-decoration: none;
}

.text-area a, a:visited{
        color: black;
        font-weight: 600;
}

.text-area a:hover {
    color: var(--main-green);
    
}

#home-hr {
    width: 4rem;
}

/* Portfolio Page */
#portfolio-text-area div{
    margin-top: 2rem;
}

#portfolio-text-area a, a:visited {
    color: black;
}

#portfolio-text-area a:hover {
    color: var(--main-green);
    cursor: pointer;
}
