.heading {
	font-family:'Inter', sans-serif;;
	font-weight: 800 ;
	font-size: 12px;
}

.paragraph {
	font-family: 'Inter', sans-serif;; ;
}

.list {
	display: table;
	margin: 0 auto;    
	font-family: 'Inter', sans-serif;; ;
}

body {
	background-color: #F6F3F4;
}

/* links */

a {
	color: #655441;
}

a: hover {
	color: #20603C;
}